@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Mono:300,400,500,700&display=swap');
html {
    height: 100%; width: 100%;
    font-size: 15px;
    font-family: "Open Sans",sans-serif;
    background-color: #f2f2f2; 
    color: #1c1c1c;
}
body {
    margin: 0;
    min-height : 100%;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover{
    color: black;
    text-decoration: none;
}
html, body {
    overflow: auto;
}
h1, p{
    color: #1c1c1c;
}
h1 {
    font-size: 8vh;
    font-weight: 200;
    letter-spacing: 3px;
}
.logoImg {
    width: 140px;
}
.grid-item h1 {
    font-weight: 400;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a.cardwraper {
    text-decoration: none;
}
a.cardwraper:hover {
    opacity: .8;
    text-decoration: underline;
}
.nav-link{
    text-decoration: none;
}
main {
    min-height:100%;
    text-align: center;
    top: 0;
    float: left;
    width: 90%;
    margin: 0 5%;
    height: 100%;
    display: block;
    position: relative;
}
main#home {
    position: absolute;
    width: 100%;
    margin: 0;
    /*
    background: url("img/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center; */
    background-color: white;
}
main#home h1 {
    font-family: "Roboto Mono",monospace; 
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;
}
main#home p {
    font-size: 3vh;
    font-weight: 200;
}
main#home h1 , main#home p {
    color: black;
    z-index: 2;
}
.dropdown-item {
    text-decoration: none;
}
.centered {
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 100%;
}
.people-grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
	column-gap: 40px;
	grid-row-gap: 40px;
    grid-template-rows: repeat(auto, auto);
    margin-bottom: 70px;
}
.profile{
	height: 100%;
	width: 100%;
    border-radius: 4px;
    text-align: center;
}
.profile-pic{
	height: 300px;
	background-color: grey;
	background-position: 0% 20%;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}
.profile-desc{
    padding: 20px;
}
.profile-desc p {
    font-size: 15px;
}
.profile-desc h3 {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
#alex { background-image: url('img/alex-profile.JPG'); }
#robin{ background-image: url('img/robin-profile.jpeg'); }
#lucas{ background-image: url('img/lucas-profile.png');  }
#simon{ background-image: url('img/simon-profile.jpg');  }
#yuhan{ background-image: url('img/yuhan-profile.jpg');  }
#carina { background-image: url('img/carina-profile.png')}

@media screen and (min-width: 850px){
	.people-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1300px){
    .people-grid { grid-template-columns: repeat(3, 1fr); } 
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    text-align: left;
}

.grid-container h1 {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
}

.grid-container p {
    margin: 1% 0;
    font-size: 15px;
}

.event {
    display: grid;
    grid-template-columns: 30% auto;
    border-radius: 5px;
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
}

.event-club-rush-19 {
    background: url("img/EDB.JPG");
}

.phot {
    background-color: grey;
    padding: 20px;
    font-size: 30px;
    grid-row: 1/3;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
}

.menu {
    font-family: "Roboto Mono",monospace;
    margin: 0;
    padding: 0;
    z-index: 3;
    position: relative;
}

.menu a {
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    display: inline-block;
    color: black;
    font-weight: 400;
    letter-spacing: 3px;
}
.menu a:first-child {
    margin-left: 5%;
    font-weight: bold;
}
.menu a:hover, #current {
    border-bottom: 2px solid #17bebb;
}

.menu .icon {
    display: none;
}

.dropdown-toggle::after {
    margin-left: -0.4em;
}

.donate {
    color:#b3a369;
    border-color: #b3a369;
}

.donate:hover {
    background-color: #b3a369;
    border-color: #b3a369;
}
@media screen and (max-width: 600px) {
    .menu a {
        display: none;
        margin: 0;
    }
    .menu a:not(:last-child) {
        padding-left: 5%;
    }
    .menu a.icon {
        float: right;
        background: #f2f2f2;
        color: #1c1c1c;
        display: block;
    }
}
  
@media screen and (max-width: 600px) {
    .menu.responsive {position: relative;}
    .menu.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    #current {
        border: none;
    }
    .menu a:first-child {
        margin-left: 0px;
    }
    .menu a:hover {
        border: none;
        color: #1c1c1c;
        background: #f2f2f2;
    }
}

  @media screen and (max-width: 800px) {
    main#home h1 {
        font-size: 6vh;
    }   
    .phot {
        margin: 0px;
        border-radius: 5px 0 0 5px;
    }
}

.navbar {
    padding: 1em 5px;
    background: transparent;
    z-index: 3;
}
.nav-item , .navbar-brand{
    margin: 0 0.8em;
    font-family: "Roboto Mono";
    letter-spacing: 2px;
    border-bottom: .25rem solid transparent;
    z-index: 13;
}
.nav-item i{
    font-size: 1.5em;
}
.active {
    border-bottom-color: white;
}
.dark{
    border-bottom-color: #1c1c1c;
}

@media screen and (min-width:990px) {
    .logo-item {
        margin: 0 0.5em;
    }
}

@media screen and (max-width:990px) {
    .collapse.show {
        background-color: rgba(240, 240, 240, 0.85);
    }
    .logoImg{
        width: 90px;
    }
    .navbar {
        padding: 1em 5%;
    }
}
