.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 15px;
    text-align: left;
}
.grid-container h1 {
    font-size: 25px!important;
}
.grid-container h1 {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
}

.grid-container p {
    font-size: 15px;
}

.event {
    display: grid;
    grid-template-columns: 100% auto;
    border-radius: 5px;
    padding-top: 10px;
}
.grid-item {
    background-color: white;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
}
.grid-item h1 {
    font-size: 20px!important;
}
.grid-item p {
    font-size: 15px!important;
}
@media screen and (max-width: 650px) {
    .grid-item h1 {
        font-size: 16px!important;
    }
    .grid-item p {
        font-size: 13.5px!important;
    }
}
.grid-item ul {
    font-size: 16px;
    font-weight: 200;
    list-style: none;
    padding-left: 0;
    margin-top: 15px;
}

.grid-item ul li {
    float: left;
    margin-right: 15px;
}

.grid-item > ul> li > p {
    font-family: 'Roboto Mono';
}

.events-grid {
    max-width: 800px;
    margin: 15px auto;
}