.dropdown-item {
    text-decoration: none;
}
.front-wrap {
    display: block;    
    height:auto;
    background: #aaa;
    margin: 0;
    margin-bottom: 5px;
    overflow: hidden;
    padding: 0;
}
.captionBlock {
    background: url("../img/cover.jpg") 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}
.currentRobotsBlock {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 0;
    grid-column-gap: 0;
}
.awardBlock {
    overflow: auto;
    background-color: white!important;
    background: white!important;
}
.award-content {
    background-color: white!important;
    background: white!important;
    padding: 0 0 0 10px!important;
}

.award-content h1 {
    color: black!important;
    text-align: center;
}
.robotLastest {
    background: url("../img/currentRobot.jpg") 50% 50%;
    
}
.robotSecondLastest {
    background: url("../img/robot2019.jpg") 50% 50%;
}
.front-wrap-content {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
    padding: 45px 10px;
}
.robot-content {
    padding: 65px 10px;
}
.banner-content {
    overflow: auto;
}
.banners-collect {
    min-width: 500px;
}
.sponsor-content {
    margin-bottom:10px;
}
.banners-collect > .collectt {
    float: none;
    margin-top: 10px;
    margin-left: 10px;
}
.sponsorLogo {
    width:150px;
    margin-left:15px;
}
.applyMed {
    width:250px;
}
.sponsor-images {
    min-width: 975px;
}
.iframeBackground {
    width: 100%;
    height: 160%;
    margin-top: -65px;
    opacity: 0;
}
.robot-card {
    min-height:170px;
    display: grid;
    grid-template-columns: 1fr;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-position: center;
}
.robot-card div {
    overflow: hidden;
    grid-row-start: 1;
    grid-column-start: 1;
}

.overlay {
    width: 100%;
    height: 250px;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.wrap-overlay {
    transition: 0;
    position: relative;
    width: calc(100%);
    background-color: rgba(0, 0, 0, 0.5);
}
.people-grid{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr;
	column-gap: 40px;
	grid-row-gap: 40px;
    grid-template-rows: repeat(auto, auto);
    margin-bottom: 70px;
}
.profile{
	height: 100%;
	width: 100%;
    border-radius: 4px;
    text-align: center;
}
.profile-pic{
	height: 300px;
	background-color: grey;
	background-position: 0% 20%;
    background-size: cover;
    border-radius: 5px 5px 0 0;
}
.profile-desc{
    padding: 20px;
}
.profile-desc p {
    font-size: 15px;
}
.profile-desc h3 {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
#alex { background-image: url('img/alex-profile.JPG'); }
#robin{ background-image: url('img/robin-profile.jpeg'); }
#lucas{ background-image: url('img/lucas-profile.png');  }
#simon{ background-image: url('img/simon-profile.jpg');  }
#yuhan{ background-image: url('img/yuhan-profile.jpg');  }
#carina { background-image: url('img/carina-profile.png')}

@media screen and (min-width: 850px){
	.people-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1300px){
    .people-grid { grid-template-columns: repeat(3, 1fr); } 
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    text-align: left;
}

.grid-container h1 {
    margin: 0;
    font-family: "Roboto Mono", monospace;
    font-size: 25px;
}

.grid-container p {
    margin: 1% 0;
    font-size: 15px;
}

.event {
    display: grid;
    grid-template-columns: 30% auto;
    border-radius: 5px;
}
.grid-item {
    background-color: white;
    padding: 20px;
    font-size: 30px;
    border-radius: 0 5px 5px 0;
}

.event-club-rush-19 {
    background: url("img/EDB.JPG");
}

.phot {
    background-color: grey;
    padding: 20px;
    font-size: 30px;
    grid-row: 1/3;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 15px;
}
.footerSection {
    background-color: rgb(228, 224, 224);
}
.footerSection p {
    font-size: 12px!important;
    color: black!important;
}
@media(max-width:400px) {
    .currentRobotsBlock {
        grid-template-columns: 1fr;
    }
}
