.peopleCard {
    max-width: 250px;
    display: block;
    padding-top: 0;
    cursor: pointer;
    transition: 0.2s;
}

.peopleCard:hover {
    transform: scale(1.05);
}

.peopleCard:hover img{
    filter: brightness(100%);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    text-align: left;
    justify-items:center;
}

.grid-item {
    padding: 10px;
}

.image-grid {
    width: 80px;
    float:left;
}

.grid-item h5 {
    font-size: 13px;
    text-decoration: underline;
}
.image-grid img{
    width: 80px;
    border-radius: 50%;
    filter: brightness(85%);
}

.info-grid {
    float:right;
    padding-left: 20px;
}

.events-grid {
    max-width:1050px;
}