h1 {
    color:black!important;
}

p {
    color:black!important;
}
a{
    color:black;
}
a:hover {
    color:#aaa;
}
.people-grid{
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr;
	column-gap: 20px;
	grid-row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-bottom: 15px;
}
.profile {
	height: 100%;
	width: 100%;
    border-radius: 4px;
    text-align: center;
}
.profile-pic {
    height: 300px;
    max-height:250px;
    border-radius: 5px 5px 0 0;
}
.profile-desc{
    padding: 10px 15px;
}
.profile-desc p {
    font-size: 15px;
}
.profile-desc h3 {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
}
.dataBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-row-gap: 0;
    grid-column-gap: 0;
}
.dataBox > div {
    grid-template-columns: 1fr;
}
.dataBox ul {
    padding:0;
    text-align: left;
    margin-left: 40px;
    font-weight: 200;
    list-style: circle;
}
.dataBox h4{
    text-align: center;
    padding:0;
    font-size: 20px;
    margin-bottom: .2rem;
}
.moreData-list i {
    font-size: 20px;
}
.moreData-list > li{
    float: left;
    margin-left: 10px;
}
@media screen and (min-width: 650px){
	.people-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 450px){
    .profile {
        max-height:100%;
    }
}

@media screen and (min-width: 1300px){
    .people-grid { grid-template-columns: repeat(3, 1fr); } 
}